body {font-family: Poppins, sans-serif;
    background-color:
     #fff;
     max-width: 1400px;
    }

a {text-decoration: none;
color: currentColor;}

img {display: block;
max-width: 100%;}

ul, ol {list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;} 

.container {
    max-width: 1110px;
    margin: 0 auto;
    /* padding: 0 15px; */
    outline: 1px solid #173a56;
}

section {padding: 50px 0;
outline: 1px solid #F03E3D;}

/* #region header */

.header {
    outline: 1px solid red;
}

.nav {display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {display: flex;
    align-items: center;}

.header-logo {display: block;
    font-weight: 700;
    font-size: 30px;
    color: #173a56;
    padding-left: 16px;
    cursor: pointer;
    padding-top: 22px;
    padding-bottom: 22px;
    }

.nav-menu {display: flex;
    gap: 30px;
    padding-left: 0;}

.nav-menu-items {display: block;
    font-weight: 400;
    font-size: 16px;  
    color: #22343d;
    padding-top: 26px;
    padding-bottom: 26px;}


.nav-menu li:first-child .nav-menu-items {
            font-weight: 600;
            
        }

.nav-button {border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    background: inherit;
    font-weight: 600;
    font-size: 16px;
    color: #173a56;
    cursor: pointer;
    }
   
.nav-button-second {border-radius: 4px;
    width: 113px;
    height: 42px;
    background: #02897a;
    margin-left: 21px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: none;
    }
/* #endregion header */

/* #region section hero */

    .hero .container {display: flex;
        margin-top: 25px;
        margin-bottom: 100px;
        outline: 1px solid gold; }

   .hero-content {padding-top: 112px;
        padding-right: 35px;}
   
    .hero-heading {font-weight: 700;
        font-size: 40px;
        line-height: 1.5;
        color: #22343d;
        margin-bottom: 18px;}

    .hero-text {font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        color: #22343d;
        margin-bottom: 45px;}

    .hero-btn {display: flex;
        align-items: center;
}

    .hero-btn-first {font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        border: none;
        border-radius: 4px;
        width: 178px;
        height: 53px;
        background: #02897a;
        margin-right: 30px;
        cursor: pointer;}

    .hero-btn-second {display: flex;
        gap: 8px;
        font-family: inherit;
        font-weight: 600;
        font-size: 16px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #02897a;
        background-color: inherit;
        padding: 15px 0;
        cursor: pointer;
        border: none;}
/* #endregion section hero */
   
/* #region section product */

    .product {outline: 1px solid blue;
        margin-bottom: 50px;
        }

    .product-heding {
    text-align: center;}

    .product-list {display: flex;
        gap: 30px;
        margin: 50px 145px;
   }

    .product-list li {
        width: calc((100% - 90px) / 4)}

.product-list-heading {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-top: 18px;}

.product-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-top: 13px;}

.product-btn {display: block;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background: #02897a;
    margin: 0 auto;
    border: none;     
    cursor: pointer;
    margin-bottom: 50px;
}
/* #endregion section 2 product */

/* #region section management */
.management .container {
    outline: 1px solid yellowgreen;
    display: flex;
    justify-content: space-between;
    gap: 84px;
    margin-bottom: 100px;
}

.management-text-wrapper {
    margin: 41px 0;
}
.management-text-wrapper>ul>li:first-child {
    margin-bottom: 25px;
}

.management-caption {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 8px;
}

.managemet-title {font-weight: 700;
    font-size: 32px;
    color: #22343d;
margin-bottom: 25px;
}

.management-subs {font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 30px;}

.management-subtitle {font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 12px;}

.management-text {font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;}

.management-img {max-width: 540px;}


/* #endregion section 3 management */

/* #region support */
.support .container {
    outline: 1px solid salmon;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 84px;
    margin-bottom: 100px;
}

.support-img {
    max-width: 540px;
}

.support-wrapper {margin: 40px 0;}

.support-caption {font-weight: 600;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 8px;}

.support-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
}

.support-subs {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 30px;
}

.support-list {display: flex;
    gap: 30px;
}

.support-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.support-svg {fill: #fff;}

.support-text {font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;}

.support-wrapper ul li:nth-child(1) .support-icon {background-color: #f90;}
.support-wrapper ul li:nth-child(2) .support-icon {background-color: #F03E3D;}
.support-wrapper ul li:nth-child(3) .support-icon {background-color: #4D8DFF;}
.support-wrapper > ul > li:not(last-child) {margin-bottom: 25px;}

/* #endregion support */

/* #region collaborative */

.collaborative .container {
    outline: 1px solid rgb(230, 152, 36);
    display: flex;
    justify-content: space-between;
    gap: 84px;
    margin-bottom: 100px;
}
/* #endregion collaborative */

/* #region quick */

.quick-container {
    max-width: 916px;
    margin: 0 auto 100px;
    outline: 1px solid #02897a;
}

.quick-title-wrapper {
    max-width: 542px;
    margin: 0 auto;
}

.quick-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 25px;
}

.quick-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: #22343d;
    margin-bottom: 40px;
}

.quick-content-list {
    display: flex;
    gap: 25px 100px;
    margin-bottom: 50px;
    flex-wrap: wrap;
 }

.quick-content-item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.qiuck-coment-wrapper {
    max-width: 300px;
    padding: 13px 20px;
    border: 0px solid #FFF;
    border-radius: 30px;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}

.qiuck-content-coment {
    width: 242px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
}

.quick-btn {
    display: block;
    min-width: 216px;
    padding: 15px 30px;
    margin: 0 auto;
    background-color: #02897a;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

/* .row-reverce {
    flex-direction: row-reverse;
} */


/* #endregion quick */

/* #region strategies */

.strategies .container {
    outline: 1px solid #f90;
    margin-bottom: 171px;
}

.strategies-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 10px;
}

.strategies-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    max-width: 465px;
    margin-bottom: 40px;
}

.strategies-list {
    display: flex;
    gap: 30px;
}

.strategies-card {
    width: calc((100% - (30px * 2)) / 3);
    border: 1px solid #dedede;
    border-radius: 8px;
    background-color: inherit;
}

.strategies-card-content {
    margin: 24px 24px 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}
.bold {font-weight: 700;}

.strategies-card-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66;
    color: #22343d;
    margin: 0 27px 40px;
}

.accent {
    color: #02897a;;
}

/* #endregion strategies */

/* #region price */

.price .container {
    outline: 1px solid #4D8DFF;
}

.price-title {font-weight: 700;
    font-size: 34px;
    color: #22343d;
    text-align: center;
    margin-bottom: 10px;}

.price-subtitle {font-weight: 500;
    font-size: 16px;
    color: #22343d;
    text-align: center;
    margin-bottom: 40px;}

.price-list {
    display: flex;
    gap: 72px;
}
.price-card:nth-child(2) {
    background-color: #02897a;}

.price-card:nth-child(2) * {
    color: #fff;
}

.price-card {
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    width: calc((100% - (72px * 2)) / 3);
    padding-top: 32px;
    padding-bottom: 32px;
}

.price-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66;
    color: #22343d;
    text-align: center;
    margin-bottom: 8px;
}

.price-card-subtitle {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #22343d;
    text-align: center;
    margin-bottom: 16px;
}

.price-card-inner {
   display: flex;
   gap: 7px;
   justify-content: center;
   align-items: center;
   margin-bottom: 16px; 
}

.card-inner-number {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}

.price-inner-content {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.inner-content-first {
    font-family: "Inter";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
}

.inner-content-second {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.price-content-list {
    text-align: center;
    margin-bottom: 30px;
    }


.price-content-item {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.01em;
    color: #22343d;
}
.price-content-item:not(:last-child) {
    margin-bottom: 16px;
}

.price-btn {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    background: #02897a;
    padding: 11px 18px;
    max-width: 139px;
    border: none;
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}
.price-card:nth-child(2) .price-btn {
    background-color: #fff;
    color: #02897a;
}

/* #endregion price */

/* #region feedback */

.feedback-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.78;
    letter-spacing: 0.01em;
    color: #22343d;
    text-align: center;
    margin-bottom: 10px;
}

.feedback-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
    max-width: 537px;
    margin: 0 auto 40px;
}

.feedback-list {
    display: flex;
    gap: 64px;
}

.feedback-list-item {
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 28px 26px;
    background-color: #fff;
}

.feedback-wrapper-svg {
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
}

.feedback-item-svg {
    fill: #f3cd03;
}

.feedback-inner-text {
    width: 275px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
    margin-bottom: 16px;
}

.feedback-wrapper-human {
    display: flex;
    gap: 14px;
    align-items: center;
}

.feedback-inner-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.feedback-inner-position {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.01em;
    color: #252b42;
}

/* #endregion feedback */

/* #region subscription */

.subscription-container {
    display: flex;
    max-width: 968px;
    margin: 0 auto;
    background-color: #02897a;
    border-radius: 32px;
    }

.subscription-inner {
    margin: 49px 10px 56px 51px;
}

.subscription-text {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
    color: #fff;
    max-width: 510px;
    margin-bottom: 46px;    
}

.subscription-btn {
    border-radius: 8px;
    min-width: 150px;
    background: #fff;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    padding: 10px 34px;
    border: none;
    cursor: pointer;
}

/* #endregion subscription */

/* #region footer */

footer .container {
    display: flex;
    }

.footer-logo-section {
    margin-right: 146px;
}

.footer-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 18px;
}

.footer-logo-inner {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
}

.footer-list-social {
    display: flex;
    gap: 16px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #edfffc;
    width: 40px;
    height: 40px
}

.footer-social-icon {
    stroke: #02897A;
    fill: none;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
    stroke: #edfffc;
}
.footer-social-link:hover, .footer-social-link:focus {background-color: #02897A;}

.footer-nav-wrapper {
    margin-right: 129px;
}

.footer-nav-heding {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 8px;
}

.footer-nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.1875;
    color: #22343d;
    }

.footer-legal-stuff {
    margin-right: auto;
}

.legal-stuff-heding {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
}

.legal-stuff-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.1875;
    color: #22343d;
}

.footer-form-hedding {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 30px;
    max-width: 280px;
}

.footer-input-wrapper {
    position: relative;
    margin-bottom: 25px;
}

.footer-form-input {
    min-width: 325px;
    height: 48px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 42px;
    outline: transparent;
    box-sizing: border-box;
    }
.footer-form-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
}

.footer-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    fill: #02897a;
}

.footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 131px;
    height: 39px;
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #02897a;
    border: none;

    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
}


/* #endregion footer */